In [2]:
import pandas as pd
from configs.config import FEATURE_DIR

In [4]:
train_df = pd.read_hdf(str(FEATURE_DIR / 'feature_engineering_1.h5'))
test_df = pd.read_hdf(str(FEATURE_DIR / 'feature_engineering_1.h5'), 'test')
val_df = pd.read_hdf(str(FEATURE_DIR / 'feature_engineering_1.h5'), 'val')

,person_age,person_income,person_emp_exp,loan_amnt,loan_percent_income,cb_person_cred_hist_length,loan_status,person_gender_encoded,person_education_encoded,person_home_ownership_encoded,loan_intent_encoded,loan_int_rate_encoded,credit_score_encoded,previous_loan_defaults_on_file_encoded
0,3.367296,12.063293,2.197225,8.853808,0.039221,2.397895,0,(0.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
1,3.367296,11.723535,1.945910,9.210440,0.076961,2.397895,0,(1.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
2,3.178054,11.079555,1.098612,9.770013,0.239017,1.609438,1,(1.0),"(0.0, 0.0, 1.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(0.0)
3,3.135494,10.493383,0.000000,7.496097,0.048790,1.609438,0,(0.0),"(0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
4,3.218876,11.598268,0.000000,9.903538,0.165514,1.386294,0,(0.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476,3.663562,12.078472,2.564949,9.615872,0.086178,2.484907,0,(0.0),"(0.0, 1.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
4477,3.496508,11.229700,2.397895,8.699681,0.076961,1.945910,0,(1.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
4478,3.713572,11.979166,2.944439,8.922792,0.048790,2.772589,0,(0.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(1.0)
4479,3.367296,11.059031,1.609438,9.603935,0.207014,1.945910,0,(0.0),"(1.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(0.0)
4480,3.218876,11.202793,0.000000,8.674368,0.076961,1.386294,0,(0.0),"(0.0, 0.0, 0.0, 1.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",(0.0)